<!doctype html>
<html>
   <head>
      <title>Meadowlark Travel</title>
   </head>

  <body>
      <header>
          <img src="/img/logo.jpg" alt="MeadowLark Travel Logo" style="width: 150px; height: 150px">
      </header>
      {{{ body }}}
  </body>
</html>